<link href="../default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../form.css" rel="stylesheet" type="text/css" media="all" />

<p> haven't built this yet, but it will take you to login, then to your show page</p>
