<!-- Displays Errors if there are any -->
<% if !@borrower.nil? && @borrower.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @borrower.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-container">
  <form id="contact" action="/borrowers" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h3>Apply</h3>
    <fieldset>
      <input placeholder="First Name" type="text" tabindex="1" name="borrower[first_name]" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Last Name" type="text" tabindex="2" name="borrower[last_name]" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" name="borrower[phone_number]" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="4" name="borrower[email]" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Address" type="text" tabindex="5" name="borrower[address]" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit!</button>
    </fieldset>
  </form>
</div>
