<div>
  <div>
    <div>
      <h2>About Us</h2>
      <span class="byline">Plastic for the People</span> </div>
      <p>
        The idea all started with an observation we made: some people with great income have horrendous credit.
        Simply, we should provide credit to an underserved group of hardworking Americans. And because we deduct payments from your paycheck,
        you never have to worry about making ends meet: we give you the flexibility to meet your lifestyle.
      </p>
    <img src="/images/Paperwork.png" alt="About Us" height="40%" width="40%">
  </div>
  <ul class="actions">
    <li><a href="/" class="button">Apply for a card today</a></li>
  </ul>
</div>
