<link href="../default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../form.css" rel="stylesheet" type="text/css" media="all" />

<div id="page" class="container">
  <div class="title">
    <h2>Careers</h2>
    <span class="byline">Work as Rewarding as the Service</span>
  </div>
  <p>
    Our offices are currently in Flatiron School. We work hard and learn harder.
    If you're interested in working for our team, feel free to send us your resume on the contact form.
    We're always looking for talented and headstrong candidates.
  </p>
  <img src="/images/Office.png" alt="About Us" height="40%" width="40%">
  <ul class="actions">
    <li><a href="/contact" class="button">Contact Us</a></li>
  </ul>
</div>
