<link href="../default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../form.css" rel="stylesheet" type="text/css" media="all" />


<div id="extra" class="container">
  <div class="title">
    <h2>Contact Us</h2>
    <span class="byline">Hit us up, we'd love to know what you think.</span> </div>
  <div id="three-column">
    <div class="boxA">
      <div class="box"> <a href="https://github.com/adames/credilicious"><span class="fa fa-user"></span></a>
        <p><a href="mailto:joe.teichman@flatironschool.com?Subject=Credilicious%20Project" target="_top">Send Joe an Email</a></p>
      </div>
    </div>
    <div class="boxB">
      <div class="box"> <a href="https://github.com/adames/credilicious"><span class="fa fa-cogs"></span></a>
        <a href="https://github.com/adames/credilicious" >Check out our project on Github</a>
      </div>
    </div>
    <div class="boxC">
      <div class="box"> <a href="https://github.com/adames/credilicious"><span class="fa fa-user"></span></a>
        <p><a href="mailto:adames.hodelin@flatironschool.com?Subject=Credilicious%20Project" target="_top">Send Adames an Email</a></p>
      </div>
    </div>
  </div>
</div>
