<link href="../default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../form.css" rel="stylesheet" type="text/css" media="all" />

  <div id="banner">
		<div class="container">
			<div class="title">
				<span class="byline">Plastic for the People</span>
      </div>
      <p>
        Welcome to credi_licious. Our small team strives to offer credit opportunities to the hardworking.
        Apply Today!
      </p><br>
      <img src="/images/folder.png" alt="About Us" height="40%" width="40%">
			<ul class="actions">
				<li><a href="/borrowers/new" class="button">Apply for Credit</a></li>
			</ul>
		</div>
	</div>
