<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Credilicious!</h1>
    <a href="/borrowers/new">Create New Borrower</a>
  </body>
</html>
