
  <div id="banner">
		<div class="container">
			<div class="title">
				<h2>Welcome to Credilicious</h2>
				<span class="byline">Plastic for the People</span> </div>
			<ul class="actions">
				<li><a href="/borrowers/new" class="button">Create New Borrower</a></li>
			</ul>
		</div>
	</div>
